@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 229 69% 92%;
    --foreground: 229 54% 37%;
    --card: 0 0% 100%;
    --card-foreground: 229 54% 37%;
    --popover: 0 0% 100%;
    --popover-foreground: 229 54% 37%;
    --primary: 229 54% 37%;
    --primary-foreground: 0 0% 98%;
    --secondary: 229 50% 95%;
    --secondary-foreground: 229 54% 37%;
    --muted: 229 50% 95%;
    --muted-foreground: 229 50% 60%;
    --accent: 172 52% 38%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 229 50% 88%;
    --input: 229 50% 90%;
    --ring: 172 52% 38%;
    --chart-1: 229 54% 37%;
    --chart-2: 172 52% 38%;
    --chart-3: 229 54% 57%;
    --chart-4: 172 52% 58%;
    --chart-5: 229 54% 77%;
    --radius: 0.5rem;
    --sidebar-background: 0 0% 100%;
    --sidebar-foreground: 229 54% 37%;
    --sidebar-primary: 229 54% 37%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 229 50% 95%;
    --sidebar-accent-foreground: 229 54% 37%;
    --sidebar-border: 229 50% 88%;
    --sidebar-ring: 172 52% 38%;
  }
  .dark {
    --background: 229 20% 10%;
    --foreground: 229 69% 92%;
    --card: 229 20% 15%;
    --card-foreground: 229 69% 92%;
    --popover: 229 20% 10%;
    --popover-foreground: 229 69% 92%;
    --primary: 229 69% 92%;
    --primary-foreground: 229 20% 10%;
    --secondary: 229 20% 20%;
    --secondary-foreground: 229 69% 92%;
    --muted: 229 20% 20%;
    --muted-foreground: 229 50% 70%;
    --accent: 172 52% 45%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 229 20% 25%;
    --input: 229 20% 25%;
    --ring: 172 52% 45%;
    --chart-1: 229 69% 92%;
    --chart-2: 172 52% 45%;
    --chart-3: 229 69% 72%;
    --chart-4: 172 52% 65%;
    --chart-5: 229 69% 52%;
    --sidebar-background: 229 20% 15%;
    --sidebar-foreground: 229 69% 92%;
    --sidebar-primary: 229 69% 92%;
    --sidebar-primary-foreground: 229 20% 10%;
    --sidebar-accent: 229 20% 25%;
    --sidebar-accent-foreground: 229 69% 92%;
    --sidebar-border: 229 20% 25%;
    --sidebar-ring: 172 52% 45%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
